
  <section>
    <!-- Imagem do card grande  -->
    <article>
      <img src="../../../assets/img/img-retangular.png" alt="Imagem Retangular do Card">
      <span>Outubro, 2023</span>

    </article>


    <!-- Titulo do card grande -->
    <h3>Titulo do Card Grande para ser renderizado</h3>
    

    <!-- paragrafo do card grande -->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi excepturi alias rerum nostrum cumque necessitatibus placeat porro consequatur quaerat voluptate. Iure ad quae ut modi laudantium maxime ducimus quisquam harum.</p>
  </section>
