section {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 30rem;
  padding: .8rem 1.5rem;
  align-items: center;
}

article {
  margin-bottom: .4rem;
}

img {
  /* border: solid blue; */
  width: 23rem;
  height: 200px;
  border-radius: .2rem;
}

span {
  color: rgba(202, 199, 194, 0.534);
  font-size: .6rem;
}

h3, p {
  /* border: solid blue; */
  margin: .2rem;
  padding: 0 .1rem;
  
}

p {
  text-align: justify;
}

