<main>
  <!-- Menu de Navegação -->
  <section>
    <app-menu-nav></app-menu-nav>

  </section>
  
  <!-- Banner Titulo da Pagina -->
  <section class="containerMenuTitulo">

      <app-menu-titulo></app-menu-titulo>
  </section>

  <section class="containerCards">
    <article>
      <app-card-grande
        imagemBanner="../../../assets/img/img-retangular.png"
        dataPostMateria="Outubro, 2023"
        tituloCard="Titulo do Card Grande para ser renderizado texto"
        textoParagrafo="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi excepturi alias rerum nostrum cumque necessitatibus placeat porro consequatur quaerat voluptate. Iure ad quae ut modi laudantium maxime ducimus quisquam harum."
      ></app-card-grande>

    </article>

    <article class="containerCardPequeno">
      <app-card-pequeno
        imagemBanner="../../../assets/img/img-retangular.png"
        dataPostMateria="Outubro, 2023"
        textoParagrafo="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi excepturi alias rerum nostrum cumque necessitatibus placeat"
  
      ></app-card-pequeno>

    </article>
  </section>
</main>