<main>
  <!-- Menu de Navegação -->
  <section>
    <app-menu-nav></app-menu-nav>

  </section>
  
  <!-- Banner Titulo da Pagina -->
  <section class="containerMenuTitulo">

      <app-menu-titulo></app-menu-titulo>
  </section>

  <section class="containerCards">
    <article>
      <app-card-grande></app-card-grande>
    </article>

    <article class="containerCardPequeno">
      <app-card-pequeno></app-card-pequeno>
      <app-card-pequeno></app-card-pequeno>
      <app-card-pequeno></app-card-pequeno>

    </article>
  </section>
</main>