.containerCardPequeno {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.CardPequeno {
  display: flex;
  flex-direction: row;
}

/* formatando a imagem */
.bannerCardPequeno {
  margin-right: .8rem;
  width: 10rem;
  margin-bottom: .875rem;
}

img {
  border-radius: .1rem;
}

/* formatando data e paragrafo */
.textoCardPequeno {
  /* border: solid blue; */
  margin-top: -.6rem;
}

span {
  color: rgba(202, 199, 194, 0.534);
  font-size: .6rem;
}


p {
  font-size: .9rem;
}

hr {
  width: 98%;
  border-color: rgba(83, 82, 80, 0.534);
}