/* You can add global styles to this file, and also import other style files */

* {
  background-color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

