.containerMenuTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 98%;
  border-color: rgba(83, 82, 80, 0.534);
}
h2 {
  /* border: solid green; */
  font-size: 11rem;
  
}

@media screen and (max-width: 835px) {
  h2 {
    font-size: 9.8rem;
  }  
}

@media screen and (max-width: 769px) {
  h2 {
    font-size: 6.8rem;
  }
}

@media screen and (max-width: 534px) {
  h2 {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: 4rem;
  }
}


