<main class="containerConteudo">
  <hr>
  <section class="conteudoImg">
    
    <img src="../../../assets/img/img-retangular-grande.png" alt="">
    
  </section>
  <hr>

  <section class="conteudoTexto">
    <h1>TITULO ipsum dolor sit amet consectetur adipisicing elit</h1>
  </section>

  <section class="conteudoTexto">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero quasi nesciunt odio doloremque rerum, commodi optio maiores. Ducimus quisquam recusandae enim odio ipsum at dolores magnam mollitia ratione. Sed, laudantium!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero quasi nesciunt odio doloremque rerum, commodi optio maiores. Ducimus quisquam recusandae enim odio ipsum at dolores magnam mollitia ratione. Sed, laudantium!
    </p>
  </section>
</main>