.containerConteudo {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 1rem;
}

.conteudoTexto {
  /* border: solid blue; */
  margin: .3rem 5rem;
  
}

hr {
  width: 98%;
  border-color: rgba(83, 82, 80, 0.534);
}

.conteudoImg {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

img {
  width: 800px;
}

span {
  color: rgba(202, 199, 194, 0.534);
  margin-top: .2rem;
  font-size: .6rem;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}


/* MEDIA QUERY */
@media screen and (max-width: 835px) {
  img {
    width: 44rem;
  }
}

@media screen and (max-width: 769px) {
  img {
    width: 32rem;
  }

  .conteudoTexto {
    width: 32rem;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: .7rem;
  }

  p {
    padding: .4rem;
    font-size: .9rem;
  }
}

@media screen and (max-width: 534px) {
  img {
    width: 23rem;
  }

  .conteudoTexto {
    width: 22rem;
  }

  h1 {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 380px) {
  img {
    width: 18rem;
  }

  .conteudoTexto {
    width: 18rem;
  }
}
